<html>
  <head>
    <link rel="stylesheet" href="<%= Routes.static_path(BeepbopskeetWeb.Endpoint, "/css/app.css") %>"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="bg-gray-100 container p-10">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
